.login-container {
  display: flex;

  .login {
    display: flex;
    height: 100vh;
    background: @color-white;
    align-items: center;
    justify-content: center;

    width: 360px;

    .form-group {
      position: relative;
      margin-bottom: 30px;
      width: 360px;
      .reset-error {
        position: absolute;
        right: 0px;
        font-size: @font-xsmall;
        font-style: normal;
        color: @color-negative;
        font-weight: 200;
        top: 5px;
      }
      label {
        font-size: @font-medium;
        color: @color-xdark;
        line-height: 10px;
      }

      input {
        border-radius: 0;
        border: 1px solid @color-medium-grey;
        background-color: transparent;
        font-size: @font-medium;
        box-shadow: none;
        height: 50px;
        padding-left: 10px;

        &.input-error {
          border: 1px solid @color-danger !important;
        }
      }

      .reset {
        color: @color-dark-grey;
        font-size: @font-medium;
        line-height: 10px;
        text-align: left;
        margin-top: 10px;
      }
      .btn-reset {
        width: 360px;
        border-radius: 4px;
        background: @color-border-dashed;
        color: @color-white;
        border: none;
        font-weight: bold;
        font-size: @font-medium;
        margin-top: 39px;
        line-height: 30px;
        height: 48px;
      }

      &.active {
        display: block;
      }

      .la-eye,
      .la-eye-slash {
        position: absolute;
        right: 18px;
        font-size: @font-icon-small;
        color: @color-dark-grey;
        bottom: 14px;
      }
    }
    .form-group {
      position: relative;
      margin-bottom: 30px;
    }

    .remember-me {
      color: @color-dark-grey;
      display: flex;
      align-items: left;

      &.active {
        display: block;
      }

      &:hover {
        background: transparent;
        label {
          &:before {
            border: 1px solid @color-primary!important;
          }
        }
      }
      .styled-checkbox {
        position: absolute;
        opacity: 0;
        height: 25px;
        width: 25px;

        & + label {
          position: relative;
          text-transform: capitalize;
          cursor: pointer;
          font-size: @font-medium;
          line-height: 10px;
          font-weight: bold;
          padding: 0;
        }
        &:checked + label:after {
          content: '\f17b';
          position: absolute;
          left: 3px;
          font-family: @font-family-icon;
          top: 1px;
          color: @color-primary;
          font-size: @font-large;
          line-height: 22px;
        }
        & + label:before {
          content: '';
          margin-right: @font-xsmall;
          display: inline-block;
          vertical-align: middle;
          width: 25px;
          height: 25px;
          font-size: @font-medium;
          background: transparent;
          border: 1px solid @color-dark-grey;
        }
        &:disabled + label {
          color: @color-checkbox;
          cursor: auto;
        }
        p {
          text-align: initial;
          line-height: 14px;
          font-size: @font-small;
          color: @color-input-msg;
          padding-left: 5px;
          font-style: italic;
          padding-top: 6px;
          padding-bottom: 10px;
        }
        &:disabled + label:before {
          box-shadow: none;
          background: @color-medium-grey;
        }

        .la-eye,
        .la-eye-slash {
          cursor: pointer;
          position: absolute;
          left: 5px;
          font-family: @font-family-icon;
          top: 4px;
          color: @color-primary;
          font-size: @font-icon-xsmall;
        }
        &:checked + label:before {
          border: 1px solid @color-primary;
        }
      }
    }

    .log-in {
      margin-top: 29px;
      color: @color-primary;
      display: flex;
      align-items: center;
      font-size: @font-medium;
      cursor: pointer;
      .la-arrow-left {
        font-size: @font-icon-small;
        line-height: 27px;
        margin-right: 5px;
      }
    }
    .btn-primary {
      width: 360px;
      border-radius: 4px;
      background: @color-border-dashed;
      color: @color-white;
      border: 0;
      font-weight: bold;
      font-size: @font-medium;
      margin-top: 50px;
      line-height: 30px;
      height: 48px;
      box-shadow: none;
    }

    &.details-container {
      &.input-error {
        border: 1px solid @color-danger;
      }
      font-size: @font-medium;

      .instruction-msg {
        font-size: @font-small;
        font-style: italic;
        color: @color-input-msg;
        line-height: 16px;
        margin-top: 8px;
        padding-left: 10px;
        margin-left: 28.5%;
        &.reset-error {
          position: absolute;
          right: 0px;
          font-size: @font-xsmall;
          font-style: normal;
          color: @color-negative;
          font-weight: 200;
          top: 5px;
        }
        &.error {
          color: @color-danger;
          margin: 0 !important;
          position: absolute;
          bottom: -20px;
        }
      }

      .btn-primary {
        width: 360px;
        border-radius: 4px;
        background: @color-border-dashed;
        color: @color-white;
        border: none;
        font-weight: bold;
        font-size: @font-medium;
        margin-top: 50px;
        line-height: 30px;
        height: 48px;
        margin-bottom: 30px;

        box-shadow: none;

        &.disabled {
          pointer-events: none;
          color: @color-button-disabled;
        }
      }

      &.error {
        &::before {
          display: inline-block;
          span {
            display: inline-block;
          }
        }
      }
    }
    .new-user {
      margin: 0;
      line-height: 10px;
      font-size: @font-medium;
      padding-top: 30px;
      text-align: center;
      color: @color-primary;
      cursor: pointer;
      span {
        cursor: pointer;
      }
    }
    .forgot {
      color: @color-primary !important;
      cursor: pointer;
    }
    &:first-child {
      background: @color-primary;
      @media screen and (max-width: 768px) {
        display: none !important;
      }
    }
    @media screen and (max-width: 768px) {
      min-width: 100% !important;
    }
    &.active {
      display: block;
    }
  }
}
