.compare-container {
  width: 100%;
  height: 100vh;
  margin: 30px;
  background: @color-white;
  .compare-header {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 24px;
  }
  .compare-body {
    display: flex;
    height: 492px;
    .mention-table {
      .table {
        margin-left: 20px;
        color: @color-xdark;
        font-size: @font-medium;
        font-weight: bold;
        line-height: 12px;
        margin-right: 30px;
        margin-top: 78px;

        thead {
          tr {
            th {
              display: none;
            }
          }
        }
        tbody {
          tr {
            td {
              border: none;
              height: 46px;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
    .topic-table,
    .research-table {
      margin-right: 50px;
      height: 492px;
      overflow: hidden;
      border-radius: 10px;
      .table-striped {
        height: 492px;
        thead {
          width: 300px;
          height: 78px;
          background: @color-primary;
          color: @color-white;
          font-size: @font-large;
          line-height: 21px;
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 78px;
            th {
              border: none;
              padding: 20px;
              width: 300px;
              display: flex;
              justify-content: space-between;
              p {
                width: 243px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-transform: capitalize;
              }
            }
            .la {
              font-size: @font-close;
              line-height: 27px;
              margin-right: 10px;
              margin-top: -5px;
            }
          }
        }
        tbody {
          tr {
            td {
              vertical-align: top;
              border-top: 1px solid @color-grey;
              height: 46px;
              width: 300px;
              display: flex;
              align-items: center;
              font-size: @font-medium;
              line-height: 12px;
              padding-left: 20px;
              padding-top: 15px;
              padding-bottom: 15px;
            }
          }
        }
      }
    }

    .select-category {
      box-shadow: 0px 3px 6px @color-box-shadow;
      width: 300px;
      padding: 20px;
      overflow: hidden;
      border-radius: 10px;
      .inner-block {
        border-style: dashed;
        cursor: pointer;
        border-color: @color-primary;
        height: 452px;
        position: relative;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        .inner-text {
          display: flex;
          cursor: pointer;
          font-size: @font-medium;
          line-height: 18px;
          color: @color-primary;
          width: 141px;
          text-align: center;
          .la {
            font-size: @font-icon-small;
            line-height: 27px;
            cursor: pointer;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

.compare-date-picker {
  top: 150px !important;
  right: 50px !important;
  //   right: 52px !important;
}
